<div class="card">
  <div class="col-md-6">
    <div class="card-header text-center contact_Header-Text"> Contact Information</div>
    <div class="card-body contact-info">
      <div class="user-icon">
        <a href="#">
            <span class="glyphicon glyphicon-user"></span> 
          </a>
          PavanKumar.s
        </div>
        <hr>
        <div class="calender-icon">
            <a href="#">
                <span class="glyphicon glyphicon-calendar"></span>
              </a>
              12th November 1996
        </div>
        <hr>
        <div class="phoneIcon">
            <a href="#">
                <span class="glyphicon glyphicon-earphone"></span>
              </a>
              8861735020
        </div>
        <hr>
        <div class="mailIcon">
            <a href="#">
                <span class="glyphicon glyphicon-envelope"></span>
              </a>
              PAVANKK1996@GMAIL.COM
        </div>
        <hr>
        <div class="homeIcon">
            <a href="#">
                <span class="glyphicon glyphicon-home"></span>
              </a>
              kengeri,banagalore
              560060
        </div>
        <hr>
        
    </div>

    
      <div class="footer bg-warning">
          
      </div>
    

  </div>
</div>

