<div class="card">
        <div class="col-md-9">
          <div class="card-header skillsHederText text-center">
           Skills
          </div>
          <div class="card-content  card-skills">
          <div class="progress1 text-center">
           <p class="skillsText">HTML</p>
          <div class="progress-bar bg-success" style="width: 95%;">95% </div>
          </div>
         <div class="progress2 text-center"> <p class="skillsText">CSS</p>
           <div class="progress-bar " style="width: 85%;">85% </div>
         </div>
         <div class="progress3 text-center"><p class="skillsText">Bootsrap</p>
           <div class="progress-bar" style="width: 85%;">85% </div>
         </div>
          <div class="progress4 text-center"><p class="skillsText">JavaScript</p>
           <div class="progress-bar bg-danger" style="width: 90%;">75% </div>
         </div>
          <div class="progress5"><p class="skillsText text-center"> Angular Js</p>
           <div class="progress-bar" style="width:20%;">20% </div>
           <p>(Basics)</p>
         </div>
        </div>
       </div>
       </div>
       