<div class="row">
  <div class="card">
    <div class="col-md-6">
      <div class="card-header  text-center project-Header-Text">Project</div>
      <div class="card-body ">
        <div class="project">
          <p class="project-title">project is titled as “Customer-satisfaction-aware optimal multi-server configuration for profit maximization in cloud computing” </p>
        </div>
        <hr>
        <div class="project-objective">
          <p class="objective-text">Its objective is offering the service to clients that makes it easy for the clients instead of deploying too many resource. Clint will be able to survey all cloud platform service providers. Instead of in one platform.</p>
        </div>
       </div>
      </div>
    </div>
  </div>
