<div class="card">
    <div class="col-md-12">
        <div class="card-header text-center hedar-text">Pavan kumar.S</div>
        <div class="card-body about-profile">
            <a href="#" target="_blank">
          <img src="assets/img/profile1.jpg" class="profileImage" alt="profile_picture"></a>
            <p class="body_Text"> Hi, my name is Pavan kumar s from Bangalore. I recently completed  my B.E in stream of computer science and engineering from vemana institute of technology.My skills are HTML, Css and Bootstrap .We are three in my family.
                About my achievements, I never made any achievements at state level,But I am a distic level Batminton palyer. My strengths are smartworker, self motivating and dedicated towards my work. And also I'm a good learner. 
                My hobbies are playing Crickat,batminton.
                <a href="#">more...</a>
            </p>
                
            </div> 
       
      
    </div>
  </div>
  
  