.text-center.thankYou-text {
    font-size: 35px;
    color: blue;
    
}
.image{
    height:80em; background-size:cover; width:auto;
    background-color:lightgrey;
    background-position:50% 50%;
  }

  