<div class="card">
    <div class="col-md-12">
      <div class="card-header  schoolHederText text-center">Education</div>
      <div class="card-content card-school">
        <div class="high-school">
            <p>10th : N V Boys high School</p>
            <p>percentage:58.74%</p>
            <p>Year of passout:2012</p>
        </div>
        <hr>
        <div class="pre-univercity">
          <p>PUC:Shanthinikethan pu college</p>
          <p>percentage:71.45</p>
          <p>Year of passout:2014</p>

        </div>
        <hr>
        <div class="Be">
          <p>B.E:vemana institute of technology</p>
          <p>Stream:computer science and engineering</p>
          <p>percentage:54.76%</p>
          <p>Year of passout:2018</p>
        </div>
      </div>
    </div>
  </div>